@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Inter var", sans-serif;
}
.image {
    width: 50%;
    height: 50%;
}

.polygon {
    clip-path: polygon(72.75% 90.5%, 100% 72%, 100% 100%, 22% 100%);
    background-color: #ff9315;
    height: 500px;
    position: absolute;
    top: 0%;
}

.solution {
    clip-path: polygon(52% 60%, 100% 38%, 100% 100%, 18% 100%, 52% 76%);
    right: 0;
}

.trian {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
}

.message {
    clip-path: polygon(0% 0%, 79% 0, 79% 76%, 79% 62%, 100% 75%, 50% 75%, 0% 75%);
    border-width: 1px;
    border-bottom: 1px;
    border-color: #ff9315;
}

/* appdevelopment */

.key1{
    animation: key1 1s  ease-in-out;
}

.key2{
    animation: key2 1s  ease-in-out;
}

.key3{
    animation: key3 1s  ease-in-out;
}

@keyframes key1 {
    0% {
        transform: translateX(900px);
    }
}

@keyframes key2 {
    0% {
        transform: translateX(-800px)
    }
}

@keyframes key3 {
    0% {
        transform: translateX(-400px)
    }
}

.summa{
    animation: imgall 1s ease-in-out;
}

@keyframes imgall {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gl {
    animation: rotate 10s infinite linear, opacity 3s linear;
    /* animation: opacity 3s ease-in-out; */
}

.topdown {
    animation: down 0.4s linear;

}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }

}

.todown {
    animation: down1 0.6s linear;

}

@keyframes down1 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);

    }

}

.oran {
    clip-path: polygon(0% 37.66%, 86.28% 37.66%, 49.88% 87.53%, 0% 87.53%);
    

}

.rt {
    animation: yaxis 3s linear infinite;
}

@keyframes yaxis {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        ;
    }

}

@keyframes down {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }

}

@media screen and (min-width:1200px) {


    @keyframes rotate {
        0% {
            width: 300px;
            transform: translateX();
        }

        10% {
            width: 400px;
            transform: translateX(50px);
        }

        20% {
            width: 500px;
            transform: translateX(100px);
        }

        30% {
            width: 600px;

            transform: translateX(150px);
        }

        40% {
            width: 700px;
            transform: translateX(200px);
        }

        50% {
            width: 770px;
            transform: translateX(250px);
        }

        60% {
            width: 700px;
            transform: translateX(470px);
        }

        70% {
            width: 600px;
            transform: translateX(650px);
        }

        80% {
            width: 500px;
            transform: translateX(750px);
        }

        90% {
            width: 400px;
            transform: translateX(850px);
        }

        100% {
            width: 300px;
            transform: translateX(950px);
        }

    }
}

@media (width: 768px) {
    .td {
        position: relative;

    }
}

.tri {
    clip-path: polygon(51.49% 92.68%, 67.92% 88.57%, 100% 80.55%, 100% 100%, 96.51% 100%, 22.19% 100%);
    background-color: #FF9315;
}

.whitetri {
    clip-path: polygon(0% 81.5%, 22.64% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 99.75%);



    background: white;

}

.cover {
    background: linear-gradient(to bottom, white, rgb(250, 250, 250));
}

.certi {
    clip-path: polygon(0% 40.4%, 20.46% 87.96%, 100% 87.96%, 100% 97.01%, 100% 100%, 0% 100%);
    background: linear-gradient(to bottom, white, rgb(244, 244, 244));
}

.key {
    animation: jump 1s linear infinite;
}

@keyframes jump {
    0% {
        transform: scale(90%)
    }

    ;

    100% {
        transform: scale(100%);
    }

}

.rad {
    border-radius: 100%;
}



.festival{
    animation: festival 1s  ease-in-out;
}

.trips{
    animation: trips 1s  ease-in-out;
}

.celebrations{
    animation: celebrations 1s  ease-in-out;
}

@keyframes festival {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes trips {
    0% {
        transform: translateX(-120%)
    }
}

@keyframes celebrations {
    0% {
        transform: translateX(-120%)
    }
}



/* antd */

.ant-pagination .ant-pagination-item-active {
    font-weight: 600;
    background-color: #ffffff;
    border-color: #FF9315;
}

.ant-pagination .ant-pagination-item-active:hover {
    font-weight: 600;
    background-color: #ffffff;
    border-color: #FF9315;
   
}

.ant-pagination .ant-pagination-item-active a {
    color: #FF9315;
}
.ant-pagination .ant-pagination-item-active a:hover {
    color: #FF9315;
}


.rubanbro{
    animation: rubanvro 1.5s ease-in-out;
    transition: all 3s;

}
@keyframes rubanvro {
    0% {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0%;
        
       
    }
    100% {
        position: absolute;
        width: 50%;
        height: 100%;
        left: 50%;
   
     
       
    }
}


.downup{
    animation: drop1 0.3s ease-in-out;
}
@keyframes drop1 {
    0%{
        transform: translateY(-10px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }
}